<!DOCTYPE html>
<html>

<head>
  <title>Recipe Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Recipe Search</h1>
  <form action="/enter" method="POST">
    <input type="text" name="ingredients" placeholder="Enter ingredients separated by commas">
    <input type="submit" value="Search">
  </form>
  <h1>Recipe List</h1>
  <ul>
    {% for word in recipe_word %}
    <li>{{ word }}</li>
    {% endfor %}
  </ul>
  <h1>Recipe</h1>
  {% if recipe %}
  <h2>{{ recipe.title }}</h2>
  <a href="{{ recipe.sourceUrl }}">View Recipe</a>
  <img src="{{ recipe.image }}" alt="Recipe Image">
  <p>Missing Ingredients:</p>
  <ul>
    {% for ingredient in recipe.missedIngredients %}
    <li>{{ ingredient.original }}</li>
    {% endfor %}
  </ul>
  <p>Used Ingredients:</p>
  <ul>
    {% for ingredient in recipe.usedIngredients %}
    <li>{{ ingredient.original }}</li>
    {% endfor %}
  </ul>
  <p>Unused Ingredients:</p>
  <ul>
    {% for ingredient in recipe.unusedIngredients %}
    <li>{{ ingredient.original }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No recipe found for the given ingredients.</p>
  {% endif %}
</body>

</html>
