<!DOCTYPE html>
<html>

<head>
  <title>Recipe Finder</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Recipe Finder</h1>
  <form action="/" method="POST">
    <label for="ingredients">Enter Ingredients:</label><br>
    <input type="text" id="ingredients" name="ingredients" placeholder="Enter ingredients separated by commas"
      required><br><br>
    <input type="submit" value="Search">
  </form>

  {% if recipes %}
  <h2>Recipes:</h2>
  <div class="recipe-list">
    {% for recipe in recipes %}
    <div class="recipe-item">
      <h3>{{ recipe.title }}</h3>
      <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
      <p>Nutrients:</p>
      <ul>
        {% for nutrient in recipe.nutrients %}
        <li>{{ nutrient.title }}: {{ nutrient.amount }} {{ nutrient.unit }}</li>
        {% endfor %}
      </ul>
      <a href="{{ recipe.url }}" target="_blank">View Recipe</a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</body>

</html>
