<!DOCTYPE html>
<html>

<head>
  <title>Recipe Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Recipe Search</h1>
  <form action="/" method="POST">
    <input type="text" name="ingredients" placeholder="Enter ingredients separated by commas">
    <input type="submit" value="Search">
  </form>
  <div class="recipe-container">
    {% for recipe in recipes %}
    <div class="recipe-card">
      <h3>{{ recipe.title }}</h3>
      <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
      <p>Nutrients:</p>
      <ul>
        {% for nutrient in recipe.nutrients %}
        <!-- <li>{{ nutrient.original }}</li> -->
        <li>{{ nutrient.name }}: {{ nutrient.amount }} {{ nutrient.unit }}</li>
        {% endfor %}
      </ul>
      <a href="{{ recipe.url }}" target="_blank">View Recipe</a>
    </div>
    {% endfor %}
  </div>
</body>

</html>
