<!DOCTYPE html>
<html>

<head>
  <title>Nutrient Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='nutrients.css') }}">
</head>

<body>
  <h1>Nutrients search</h1>
  <form action="/nutrients" method="POST">
    <input type="text" name="ingredients" placeholder="Enter ingredients separated by commas">
    <input type="submit" value="Search">
  </form>

  <!-- {% if recipes %} -->
  <!-- <h2>Recipes:</h2> -->
  <!-- <ul> -->
  <!--   {% for nutrient, attributes in recipes.items() %} -->
  <!--   <li> -->
  <!--     <strong>{{ nutrient }}:</strong> -->
  <!--     <ul> -->
  <!--       {% for key, value in attributes.items() %} -->
  <!--       <li> -->
  <!--         <strong>{{ key }}:</strong> {{ value }} -->
  <!--       </li> -->
  <!--       {% endfor %} -->
  <!--     </ul> -->
  <!--   </li> -->
  <!--   {% endfor %} -->
  <!-- </ul> -->
  <!-- {% endif %} -->

  {% if recipes %}
  <h2>Nutrients are as below</h2>
  <ul>
    {% for nutrient, attributes in recipes.items() %}
    {% set nutrient_label = attributes['label'] %}
    <li>
      <strong>{{ nutrient_label }}:</strong>
      <ul>
        {% for key, value in attributes.items() if key != 'label' %}
        <li>
          <strong>{{ key }}:</strong> {{ value }}
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <a href="{{url_for('index')}}"> Home Page</a>

</body>
